@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $light;
    color: $dark;
}

.navbar {
    background-color: $darkSecondary;
}

.nav-link{
    color: $light;  
    list-style: none;
    justify-content: flex-end;
}

.nav-link:hover{
   background-color: $secondary !important;
   color: $light;
}

ul  {
    list-style-type: none;
}
