@import "variables.scss";
@import "~bootstrap/scss/bootstrap";


.gigSection {
   
    
    thead tr th {
        font-size: 18px;
        font-family: $titleFont;
        color: $dark;

    }
}

.clientHighlight {
    color: $ratingElement;
}